@font-face {
    font-family: "Quite Chocotaley";
    src: url("../fonts/Quite Chocolatey.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

*, *::after,*::before {
font-family: sans-serif;
margin: 0 auto;
box-sizing: border-box;

}

body {
background-color: #efefef;
}

a {
text-decoration: none;
color: white;
font-weight: 500;
font-size:medium;
font-family: Montserrat;
}

.menu__inner {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav {
display: flex;
list-style: none;

}

.nav li a {
margin: 0;
padding: 10px 20px;
}

.nav li a:hover {
 background-color: #130e27;
 color: white;
 border-radius: 5px;
}

h3 {
font-family: Quite Chocotaley;
letter-spacing:  2px;
font-size: 70px;
color: white;
margin-left: -1em;
}

.container {
background: #dd2211;
padding: 0 50px;
width: 1170px;
}

.title h1 {
padding-top: 50px;
font-size: 75px;
font-weight: 700;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #130e27;
line-height: 60px;
} 

.title span {
color: white
}
.title p {
padding-top: 2em;
padding-right: 40em;
padding-bottom: 4em;
color: white;
}

.container {
background-image: url(../img/Layer\ 13.png);
background-repeat: no-repeat;
}

.container__center h2 {
padding: 1em 0em 1em 1em ;
font-size: 35px;
color: #130e27;
font-family: "Montserrat";
text-align: left;
width: 1170px;
}

.container__center span {
color: #c62314;
font-family: "Montserrat";
}

.box {
height: 300px;
width: 1170px;
color: #161616;
}

.box__inner {
display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
}


.text p {
text-align: center;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
margin: 2em 2em;
}

.buttom__block {
display: flex;
background-color: #130e27;
width: 1170px;
padding: 1em;
}

.text__buttom p {
font-size: 18px;
color: white;
padding: 1em 5em 1em 1em;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttom__inner {
list-style: none;
background-color:#c62314;
border-radius: 5px;
padding: 15px 7em 15px 7em;
margin: 1em 3em 1em 1em;
text-align: center;
white-space: nowrap;
font-family: 'Montserrat';
}

.pricing__block {
width: 1170px;
margin-bottom: 25px;
}

.pricing__title {
margin: 1em;
font-size: 40px;
font-family: 'Montserrat';
color: #130e27;
text-align: center;   
}

.cards {
display: flex;
}

.item {
background-color: white;
text-align: center;
border-radius: 5px;
height: 390px;
}

.item h5 {
font-weight: inherit;
font-size: inherit;
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
min-width: 320px;
}

.price {
font-size: 60px;
font-family: Montserrat;
color: #c62314;
margin: 15px;
}

.option__cards {
list-style: none; 
text-align: center;
padding-left: 0;
margin-bottom: 35px;
}

.option {
line-height: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.cards__title {
font-size: 17px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: 15px;
}

.button__cards {
padding: 20px 70px;
background-color: #130e27;
border-radius: 5px;


}

a.button__cards:hover {
background-color:#c62314;
border-radius: 5px;
}

.footer {
display: flex;
justify-content:space-between;
width: 1170px;
background-color: #130e27;
height: 190px;
align-items: center;
}

.copyrate {
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 35px;
}

.copyrate a {
color: #c62314;

}

.logo__footer h3 {
color: #c62314;
margin-left: 4em;
}